<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{!-- <section id="searching">
    <form action="/books/{{name}}" method="GET">

    <input type="text" id="book-name" name="book" required>

    <button type="submit">Search for an Artist</button>

    </form>
</section> --}}